* {
    margin: 1px;
    padding: 1px;
}
body {
    background-color: black;
}
.container {
    width: 900px;
    margin: 0 auto;
    text-align: center;
}

.prodotto {
    display: inline-block;
    position: relative;
}

.prodotto img {
    width: 270px;
    height: 320px;
    object-fit: contain;
    background-color: #fdfdfd;
}

.sconto {
    position: absolute;
    top: 0;
    right: 0;
    background-color: green;
}

.scontouno {
    position: absolute;
    top: 0;
    right: 0;
    background-color: red;
}

.scontodue {
    position: absolute;
    top: 0;
    right: 0;
    background-color: lightgreen;
}

.heart {
    color: pink;
    font-size: 30px;
    position: absolute;
    bottom: 0;
    left: 110px;
    width: 100%
    display: none;
    text-align: center;
}

.prodotto:hover .heart {
    display: block;
    cursor: pointer;
    color: red;
}
